<!-- 
    about-custom.html
    This partial defines the Vue component template for the About page custom hook.
    Site owners can override this file in their own layouts/partials/ to provide
    extra content at the bottom of the About card.

    The component receives the following props:
    - pageData (Object): The data of the About page
    - siteConfig (Object): The global configuration
-->
<script type="text/x-template" id="about-custom-template">
  <div class="custom-about-hook"></div>
</script>